.results {
    font-size: 16px;
}

.user-containers {
    
}
.user-containers li{
    display: flex;
    flex-direction: row;
}
.user-avatar img {
    width: 50px;
    height: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
        
.pagination {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 2px;
}


    