input[type=search] {
  max-width: 50%;
  padding: 8px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-image: url('../assets/search-icon.png');
  background-position: 3px 3px;
  background-repeat: no-repeat;
  padding-left: 35px;
}

input[type=search]:focus {
  background-color: aquamarine;
}

.search-button {
  border-radius: 10px;
  background-color: transparent;
  padding: 8px;
  font-family: 'Bebas Neue', cursive;
}

select {
  border-radius: 10px;
}