/* Heading font  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Main font  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, .app {
  height: 100% 100%;
  width: 100% 100%;
  display: flex;
}

select, option, input, button {
  font-family: 'Noto Serif', serif;
  font-size: 24px;
} 

.App {
  font-family: 'Noto Serif', serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center; 
  padding: 10px;
}

.App-header {
  font-family: 'Bebas Neue', cursive;
  font-size: 72px;
}
.App-header:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

form, .filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter-bar, .total-pagination-section {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

